src/main/resources/schemas/tag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://registry.htrc.i3.illinois.edu/entities/workset"
    xmlns:workset="http://registry.htrc.i3.illinois.edu/entities/workset"
    elementFormDefault="qualified">

    <complexType name="Tags">
        <sequence>
            <element name="tag" type="string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <element name="tags" type="workset:Tags"/>
</schema>